.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 4vh;
}

.username-field, .password-field, .e-mail-field, .confirm-password-field {
    display: flex;
    margin-bottom: 10px;
}

.username-label, .password-label, .e-mail-label, .confirm-password-label {
    margin-right: 10px;
    min-width: 9vw;
    max-width: 9vw;
    display: block;
}

.register-submit-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: lightgreen;
    color: #2a2a2a;
    text-decoration: none;
    border-radius: 4px;
    border: 0 solid black;
    transition: transform .5s;
}

.register-submit-btn:hover {
    background-color: greenyellow;
    transform: scale(1.1);
    transition: transform .5s;
}

.username-input, .password-input, .e-mail-input, .confirm-password-input {
    min-width: 12.5vw;
    max-width: 12.5vw;
    height: 16px;
}

.username-input:hover, .password-input:hover, .e-mail-input:hover, .confirm-password-input:hover {
    box-shadow: 0 0 5px yellowgreen;
    border:1px solid black;
}

.error-mesage {
    text-align: left;
}

.register-link {
    color: yellowgreen;
}

.register-link:hover {
    text-decoration: underline;
}

.registration-form {
    text-align: center;
}

.errors-space {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

