.update-user-info-modal {
    position: absolute;
    background-color: white;
    top: 30%;
    height: 40vh;
    left: 20vw;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid lightgreen;
    border-radius: 6px;
}
@media screen and (max-width: 768px) {
    .update-user-info-modal {
        left: 10vw;
        width: calc(80vw - 40px);
    }
}