.delete-activity-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
}

.delete-message {
    font-size: 1.5em;
    text-align: center;
}

.delete-buttons {
    display: flex;
    width: 25vw;
    justify-content: space-around;
    padding-top: 20px;
}

.delete-icon {
    background-color: #2a2a2a;
    border: 2px solid #2a2a2a;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: transform .5s, background-color .5s;
}

.delete-icon:hover {
    color: red;
    background-color: rgba(175, 175, 175, 0.91);
    transform: scale(1.2);
    transition: transform .5s, background-color .5s;
}