.activities-in-profile-carousel {
    display: flex;
    overflow: hidden;
    width: 1210px;
    align-items: center;
    height: 400px;
}

.activities-container {
    display: flex;
    flex-direction: row;
    position: relative;
    right: -15px;
    gap: 20px;
    transition: right .3s;
}
.activities-carousel-inner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.activities-in-profile-swipe-right-container, .activities-in-profile-swipe-left-container {
    transition: opacity .3s;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
}

.activities-in-profile-swipe-left-container {
    visibility: hidden;
}

.activities-in-profile-swipe-right-button, .activities-in-profile-swipe-left-button {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    border: none;
    transition: background-color .5s;
}

.activities-in-profile-swipe-right-button:hover, .activities-in-profile-swipe-left-button:hover {
    background-color: lightgreen;
    transition: background-color .5s;
}

.activity-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    -webkit-box-shadow: 0 0 12px 0 rgba(66, 68, 90, 1);
    -moz-box-shadow: 0 0 12px 0 rgba(66, 68, 90, 1);
    box-shadow: 0 0 12px 0 rgba(66, 68, 90, 1);
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 300px;
    cursor: pointer;
    text-align: center;
    transition: transform .5s;
 }
.activity-card:hover {
    transform: scale(1.1);
    transition: transform .5s;
}
.activity-carousel-outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.activity-type-title {
    text-align: center;
}

.activities-in-profile-carousel .activity-title {
    min-height: 40px;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    word-break: break-word;
}

.activity-type {
    margin: 15px 0;
    font-size:24px;
    color: #555;
}

.activity-image {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;
}

.activity-details {
    display: flex;
    flex-direction: column;
}

.activity-city {
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 16px;
    color: #777;
}

.activity-date-time {
    justify-content: space-between;
    font-size: 14px;
    color: #777;
}

.activity-date {
    margin-right: 10px;
    flex: 1;
}

.activity-time {
    flex: 1;
}

.user-inner-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.user-card {
    width: 30vh;
    height: 45vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: 0 0 16px 0 rgba(66, 68, 90, 1);
    -moz-box-shadow: 0 0 16px 0 rgba(66, 68, 90, 1);
    box-shadow: 0 0 16px 0 rgba(66, 68, 90, 1);
    margin-right: 20vh;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    max-width: 600px;
}
.update-info-button{
    margin-top: 30px;
    width: 130px;
    height: 40px;
    background-color: lightgreen;
    border: none;
    border-radius: 3px;
    transition: background-color .5s, transform .5s;
}
.update-info-button:hover{
    background-color: greenyellow;
    transform: scale(1.1);
    transition: background-color .5s, transform .5s;
}
.activity-label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.activity-info {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.username {
    font-size: 40px;
    font-weight: bold;
    margin: 15px 0 0;
}

.profile-picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.profile-picture {
    object-fit: cover;
    border-radius: 50%;
}

.activity-label {
    font-weight: bold;
    margin: 5px 0;
    color: #333;
}

.activity-info {
    margin: 0;
    padding: 5px 0;
    color: #666;
}

.activity-photo img {
    border-radius: 8px;
    object-fit: cover;
    width: 150px;
    height: 120px;
}
@media screen and (max-width: 768px) {
    .activities-in-profile-carousel {
        display: flex;
        overflow: hidden;
        width: 240px;
        align-items: center;
        height: 400px;
    }
    .user-card{
        margin-right: 10vw;
    }
}